Source: teucrium
Section: admin
Priority: optional
Maintainer: Sebastian Hagen <sebastian_hagen@memespace.net>
Standards-Version: 3.6.2
Build-Depends: debhelper
XS-Python-Version: 2.4, 2.5

Package: teucrium
Architecture: all
Depends: python (>= 2.4), python-gonium, python-ctypes, python-rrdtool
XB-Python-Version: ${python:Versions}
Description: flexible and powerful traffic graphing
 Teucrium is a traffic grapher based on linux netfilter (i.e. {ip,ip6}tables)
 and rrdtool. It attempts to b flexible, accurate and featureful without
 hogging resources.

